.container-hidden {
	display: none;
}

.container-closer {
	position: absolute;
	right: 15px;
}

.container-closer:hover {
	cursor: pointer;
}

.btn--block {
	margin: 10px auto;
}

.btn--inline {
	display: inline-block !important;
	margin: 10px auto;
	margin-right: 10px;
}

.div--inline {
	display: inline-block;
	margin: 10px auto;	
	margin-right: 10px;
}

.btn--center {
	display: block;
	margin: 10px auto;
}

.member div:nth-child(1), .member div:nth-child(2), .member div.award-icon {
	display: inline-block !important;
	vertical-align: top;
	margin: 10px auto;
}

.member div:nth-child(1) {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-size: 40px 40px !important;
	background-position: center center;
}

.member div:nth-child(2) {
	height: 40px;
	line-height: 40px;
	margin-left: 15px;
}

.member div.award-icon {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-left: 15px;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	color: white;
	background: #61B4F7;
}

.member div.award-icon:hover {
	cursor: pointer;
	opacity: 0.5
}

#user-holder div {
	text-align: center;
	margin: 0 auto;
}

#user-holder div:nth-child(1){
	margin-right: 10px;
}

.pin-remover {
	color: red;
	margin-left: 10px;
	float: right;
}

.pin-remover:hover {
	cursor: pointer;
}

.pin-holder + button {
	margin-top: 15px;
}

.pin-holder div {
	border-left: 5px solid #61B4F7;
	padding: 5px 10px;
	margin: 10px 0;
	display: block;
}